@import "tailwindcss";

@theme {
  --color-primary: #0f766e;
  --color-primary-dark: #115e59;
  --color-bg-base: #f1f5f9;
  --color-bg-card: #ffffff;
  --color-bg-sidebar: #0f172a;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;
  --color-border: #e2e8f0;
}

@layer base {
  body {
    @apply bg-[var(--color-bg-base)] text-[var(--color-text-main)] font-sans antialiased;
  }
}
